<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Workout on <%= workout.date %></h1>
    <h2>Exercises</h2>
    <ul>
      <% workout.exercises.forEach(exercise => { %>
        <li><%= exercise.name %> - <%= exercise.sets %>x<%= exercise.reps %> @ <%= exercise.weight %>lbs</li>
      <% }) %>
    </ul>
    <form action="/myClients/<%= clientId %>/workouts/<%= workout._id %>/exercises" method="POST">
      <!-- Add form fields for exercise details -->
      <button type="submit">Add Exercise</button>
    </form>
    <script src="js/main.js"></script>
</body>
</html>

